.header {
    padding: 0 40px;

    .first-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pp {
            text-align: center;
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;

                @media screen and (max-width: $mobile-breakpoint) {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    
        .information {
            width: 65%;
            display: flex;
            justify-content: flex-end;
            align-items: center;   

            
            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                p:first-child {
                    font-weight: bold;
                    font-size: $fontSize-1;

                    @media screen and (max-width: $mobile-breakpoint) {
                        font-size: $fontSize-3;
                    }
                }
    
                p:nth-child(2) {
                    font-size: $fontSize-2;
                    color: $color-1;
                    
                    @media screen and (max-width: $mobile-breakpoint) {
                        font-size: $fontSize-3;
                    }
                }

                @media screen and (max-width: $mobile-breakpoint) {
                    margin-left: 20px;
                }
            }

            div:nth-child(3) {
                display: none;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                width: 100%;

                div:nth-child(2) {
                    display: none;
                }

                div:nth-child(3) {
                    display: block;
                    display: flex;
                }
            }
        }
    }

    .second-row {
        p {
            font-size: $fontSize-1;
        }

        .subtitle {
            text-align: left;
            p:first-child {
                font-size: $fontSize-2;
                color: $color-3;
            }

            a {
                width: 65px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $black;
                border-radius: 10px;
                margin-top: 10px;
                transition: background-color 0.5s ease-in;
                
                img {
                    margin-right: 2px;
                    width: 15px;
                    height: 15px;
                    filter: invert(100%);
                }

                p {
                    font-size: $fontSize-3;
                    color: $white;
                }

                &:hover {
                    transition: background-color 0.5s ease;
                    background-color: $color-2;
                    cursor: pointer;
    
                    img {
                        filter: invert(100%);
                        fill: $black;
                    }
    
                    p {
                        transition: color 0.5s ease;
                        color: $black;
                    }
                }

                @media screen and (max-width: $mobile-breakpoint) {
                    width: 75px;
                    height: 20px;
                }
            }
        }   
    }

    .profile {
        width: 85%;
        padding-top: 10px;
        overflow-wrap: break-word;

        @media screen and (max-width: $mobile-breakpoint) {
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        padding: 5px 5px;
    }
}