@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$color-1: #16354D;
$color-2: #6B99C3;
$color-3: #D2D2D4;

$black: #0C151C;
$white: #E4E5EA;

$fontSize-1: 30px;
$fontSize-2: 20px;
$fontSize-3: 15px;
$fontSize-4: 11px;

$fontFamily-1: "Nunito Sans", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: $black;
    max-width: 100vw;
    height: 100vh;
    font-family: $fontFamily-1;
}

/* Styles de la barre de défilement */
::-webkit-scrollbar {
    width: 0px; /* Largeur de la barre de défilement */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-2;
}

img {
    max-width: 200px;
}

.home, .about, .contact, .skills {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    transition: width 0.5s ease;

    section {
        padding: 20px 40px;

        @media screen and (max-width: $mobile-breakpoint) {
            padding: 0;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        padding: 0;
    }
}